.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.containerMain {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 25vw 0 15vw;
}

.titleMain {
  font-family: "BebasNeue-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  color: #ff0f49;
}

.textMain {
  font-family: "BebasNeue-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  color: white;
  margin: 3rem 0;
}

.buttonMain {
  width: 430px;
  height: 80px;
  background: #ff0f49;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  font-family: "BebasNeue-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  cursor: pointer;
}

.containerCursor {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 25vw 0 15vw;
  transition: all 0.1s linear;
  clip-path: circle(20px at center center);
}

.titleCursor {
  font-family: "BebasNeue-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  color: black;
}

.textCursor {
  font-family: "BebasNeue-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  color: #ff0f49;
  margin: 3rem 0;
}

.buttonCursor {
  width: 431px;
  height: 82px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff0f49;
  color: #ff0f49;
  font-family: "BebasNeue-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 1224px) {
  .containerMain {
    padding: 10px;
  }

  .textMain {
    font-size: 2rem;
  }

  .textCursor {
    font-size: 2rem;
  }

  .buttonMain {
    width: 300px;
    height: 60px;
    font-size: 1.5rem;
  }

  .buttonMain:hover {
    color: #ff0f49;
    background-color: white;
  }
}

@media screen and (max-width: 840px) {
  .buttonMain {
    width: calc(100vw - 20px);
  }
}
