.container {
  width: 100vw;
  height: 100%;
  position: fixed;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
  background-color: transparent;
  pointer-events: none;
}

.headerContent {
  display: flex;
}

.content {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
  z-index: 999;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
  z-index: 999;
}

.title {
  color: white;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  user-select: none;
}

.currentTitle {
  color: rgba(255, 15, 73, 1);
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
}

.socialMediaContainer {
  display: flex;
}

.link {
  color: white;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  pointer-events: all;
  user-select: none;
}

.navigationList {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style: none;
}

.navigationLink {
  color: white;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  border: none;
  background-color: transparent;
  cursor: pointer;
  pointer-events: all;
  user-select: none;
  text-align: center;
}

.navigationCurrentLink {
  color: rgba(255, 15, 73, 1);
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.title:hover,
.navigationLink:hover,
.link:hover {
  color: rgba(255, 15, 73, 1);
}

@media screen and (max-width: 640px) {
  .container {
    padding: 10px;
  }
}
