.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-blend-mode: screen;
}

.firstLayer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background-size: cover;
  background-blend-mode: screen;
}

.cursorLayer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  background-size: cover;
  background-blend-mode: screen;
  transition: all 0.1s linear;
  clip-path: circle(200px at left top);
}

.overlayer {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  background-size: cover;
  background-blend-mode: screen;
}

.backgroundContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.backgroundImage {
  height: 100vh;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleFirstLayer {
  color: rgba(255, 15, 73, 1);
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 6.5rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.titleOverlayer {
  color: white;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 6.5rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 1224px) {
  .container {
    padding: 10px;
  }

  .titleFirstLayer {
    font-size: 4rem;
  }

  .titleOverlayer {
    font-size: 4rem;
  }
}
